.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {}

.messages {
    padding: 10px;
}

.message {}


.dialog a {
    color: white;
    text-decoration: none;
}

.dialog a.active {
    color: gold;
}

